<img src="../../images/burger.gif" alt="">

<h1>Eat da burger!</h1>

<textarea rows="4" cols="40" placeholder="Enter the type of burger you would like to eat"></textarea>

<button id="submit" class="btn btn-primary" type="submit">Submit</button>