<h2>uneaten burgers</h2>

<ul>
  {{#each burgers}}
   {{#unless devoured}}
    {{> burger/burger-block devoured=false}}
   {{/unless}}
  {{/each}}
</ul>

<h2>eaten burgers</h2>

<ul>
 {{#each burgers}}
  {{#if devoured}}
    {{>burger/eaten devoured=true}}
   {{/if}}
 {{/each}}
</ul>